<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Database connectivity is <%= dbConn %></p>
<% if (meta.length) { %>
  <label>META</label>
  <ul>
    <% meta.forEach(function(col){ %>
      <li><%= col.name %></li>
    <% }) %>
  </ul>
<% } %>
<% if (rows.length) { %>
  <label>ROWS</label>
  <ul>
    <% rows.forEach(function(rowData){ %>
      <li><%= rowData %></li>
    <% }) %>
  </ul>
<% } %>